{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="hero-home dark-overlay mb-5"><img class="bg-image" src="{{post.image.url}}" alt="">
      <div class="container py-7">
        <div class="overlay-content text-center text-white">
          <h1 class="display-3 text-serif font-weight-bold text-shadow mb-0">{{post.title}}</h1>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-10 mx-auto">           
            <p class="py-3 mb-5 text-muted text-center font-weight-light"><a href="#"><img src="{% static 'img/me.jfif' %}" style="border-radius: 50%; width: 50px;" alt=""></a> Written by <a class="font-weight-bold" href="{% url 'about_me' %}">Aboubakr El Habti</a><span class="mx-1">|</span>{{post.date_posted|date:"F d, Y"}}</a>
            <p class="lead mb-5">{{post.description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-10 mx-auto"><img class="img-fluid mb-5" src="" alt=""></div>
        </div>
        <div class="row">
          <div class="col-xl-8 col-lg-10 mx-auto">                               

          </div>
        </div>
      </div>
    </section>


{% endblock %}